## Outline of Machine Learning Model

In [1]:
# Import all dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import sqlalchemy
#import psycopg2 as pg
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier

### Import the Data as a Dataframe and Perform Data Preprocessing

In [2]:
# Create the connection to postgres
# engine = create_engine('postgresql://username:password@host:port/database')

# Load the table as a dataframe
# engine = pg.connect("dbname='my_db_name' user='pguser' host='127.0.0.1' port='15432' password='pgpassword'")
# df = pd.read_sql('select * from climate_change_twitter', con=engine)

In [51]:
# Perform preliminary exploration and data cleaning

# Drop null values
# Use onehotencoding or get dummies to create continuous data from categorical columns

cc_df = pd.read_csv("climate_change_twitter.csv", index_col=False)
cc_df.head(5)

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
0,2006-06-06 16:06:42+00:00,6132.0,NaN,NaN,Weather Extremes,-0.097180,neutral,female,NaN,aggressive
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
2,2006-08-29 01:52:30+00:00,23160.0,NaN,NaN,Weather Extremes,0.500479,neutral,male,NaN,aggressive
3,2006-11-07 02:46:52+00:00,57868.0,NaN,NaN,Weather Extremes,0.032816,neutral,male,NaN,aggressive
4,2006-11-27 14:27:43+00:00,304553.0,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,male,NaN,aggressive

In [52]:
# Drop the null rows
cc_df = cc_df.dropna()
cc_df.head()

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
7,2006-12-14 01:39:10+00:00,1092823.0,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,male,4.228540,aggressive
8,2006-12-17 19:43:09+00:00,1278023.0,-79.791980,36.072640,Weather Extremes,-0.565028,denier,male,5.478175,aggressive
9,2006-12-21 01:39:01+00:00,1455543.0,-121.805790,38.004920,Weather Extremes,0.650960,neutral,male,-1.652156,not aggressive
11,2006-12-31 10:47:25+00:00,1893063.0,-1.902691,52.479699,Weather Extremes,0.670905,neutral,male,4.864521,aggressive

In [53]:
cc_df.dtypes

created_at          object
id                 float64
lng                float64
lat                float64
topic               object
sentiment          float64
stance              object
gender              object
temperature_avg    float64
aggressiveness      object
dtype: object

In [54]:
cc_df.count()

created_at         312693
id                 312693
lng                312693
lat                312693
topic              312693
sentiment          312693
stance             312693
gender             312693
temperature_avg    312693
aggressiveness     312693
dtype: int64

In [55]:
# Get rid of spaces in names
cc_df.columns = cc_df.columns.str.strip()

In [56]:
# Drop ID column
cc_df = cc_df.drop(["id"], axis=1)

In [57]:
cc_df.head()

,created_at,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,male,4.228540,aggressive
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,male,5.478175,aggressive
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,male,-1.652156,not aggressive
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,male,4.864521,aggressive

In [58]:
# Count topic column
cc_df["topic"].nunique()

10

In [59]:
# One hot encode topic, stance, gender, and aggressiveness to numerical values
encoded_df = pd.get_dummies(cc_df, columns=['topic', 'stance', 'gender', 'aggressiveness'])
encoded_df

,created_at,lng,lat,sentiment,temperature_avg,topic_Donald Trump versus Science,topic_Global stance,topic_Ideological Positions on Global Warming,topic_Impact of Resource Overconsumption,topic_Importance of Human Intervantion,...,topic_Undefined / One Word Hashtags,topic_Weather Extremes,stance_believer,stance_denier,stance_neutral,gender_female,gender_male,gender_undefined,aggressiveness_aggressive,aggressiveness_not aggressive
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,0.575777,-1.114768,0,0,0,0,0,...,0,1,0,0,1,0,0,1,1,0
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,-0.544195,4.228540,0,0,1,0,0,...,0,0,0,0,1,0,1,0,1,0
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,-0.565028,5.478175,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,0.650960,-1.652156,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,0.670905,4.864521,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048528,2011-03-29 08:23:23+00:00,144.963320,-37.814000,-0.412735,1.822982,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1048533,2011-03-29 08:42:01+00:00,110.828448,-7.569246,0.450944,-0.253280,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
1048551,2011-03-29 09:21:17+00:00,121.069917,14.528887,0.538100,-1.243056,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
1048558,2011-03-29 09:44:21+00:00,1.155450,52.059170,0.061093,1.056350,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1048573,2011-03-29 10:07:53+00:00,0.006856,51.550641,0.616270,1.703617,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1

In [60]:
# Change latitude and longitude to zip codes
lat_lng_df = cc_df[['lat', 'lng']]
lat_lng_df

               lat         lng
1        40.650104  -73.949582
7        37.774930 -122.419420
8        36.072640  -79.791980
9        38.004920 -121.805790
11       52.479699   -1.902691
...            ...         ...
1048528 -37.814000  144.963320
1048533  -7.569246  110.828448
1048551  14.528887  121.069917
1048558  52.059170    1.155450
1048573  51.550641    0.006856

[312693 rows x 2 columns]

In [18]:
# Convert created_at to datetime format

### Prepare Data for Machine Learning Models

In [23]:
# Create features
# Create our features
# X = pd.get_dummies(cc_df, columns=['created_at', 'id', 'lng', 'lat', 
                'topic', 'sentiment', 'stance', 'gender', 
                'aggressiveness'], sparse=True).drop('temperature_avg', axis=1)

In [24]:
# Create our target
y = cc_df['temperature_avg']

In [25]:
# Check the dataframes
X.head()

,created_at_2006-07-23 21:52:30+00:00,created_at_2006-12-14 01:39:10+00:00,created_at_2006-12-17 19:43:09+00:00,created_at_2006-12-21 01:39:01+00:00,created_at_2006-12-31 10:47:25+00:00,created_at_2007-01-06 17:36:51+00:00,created_at_2007-01-08 17:46:45+00:00,created_at_2007-01-10 22:22:04+00:00,created_at_2007-01-10 22:22:15+00:00,created_at_2007-01-11 06:21:43+00:00,...,sentiment_0.97633022,sentiment_0.981349935,stance_believer,stance_denier,stance_neutral,gender_female,gender_male,gender_undefined,aggressiveness_aggressive,aggressiveness_not aggressive
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
11,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0

In [26]:
X.describe()

TypeError: cannot perform std with type Sparse[uint8, 0]

In [ ]:
y.describe()

In [ ]:
# Check the balance of our target values
y.value_counts()

In [ ]:
# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
Counter(y_test)

### Test Different Models and Compare Confusion Matrices to Find Best Model

#### Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a random forest classifier.
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
# Display the confusion matrix
y_pred = rf_model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

#### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 

#Instantiate the model
eec = EasyEnsembleClassifier(random_state=1, n_estimators=100)

# Fit the model
eec.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
# Making predictions using the testing data.
predictions = eec.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Display the confusion matrix
y_pred = eec.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))