## Outline of Machine Learning Model

In [5]:
# Import all dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import sqlalchemy
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier

### Import the Data as a Dataframe and Perform Data Preprocessing

In [ ]:
# Create the connection to postgres
# engine = create_engine('postgresql://username:password@host:port/database')

# Load the table as a dataframe
# engine = pg.connect("dbname='my_db_name' user='pguser' host='127.0.0.1' port='15432' password='pgpassword'")
# df = pd.read_sql('select * from climate_change_twitter', con=engine)

In [6]:
# Perform preliminary exploration and data cleaning

# Drop null values
# Use onehotencoding or get dummies to create continuous data from categorical columns

cc_df = pd.read_csv("../climate_change_twitter.csv")
cc_df.head(5)

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
0,2006-06-06 16:06:42+00:00,6132.0,NaN,NaN,Weather Extremes,-0.097180,neutral,female,NaN,aggressive
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
2,2006-08-29 01:52:30+00:00,23160.0,NaN,NaN,Weather Extremes,0.500479,neutral,male,NaN,aggressive
3,2006-11-07 02:46:52+00:00,57868.0,NaN,NaN,Weather Extremes,0.032816,neutral,male,NaN,aggressive
4,2006-11-27 14:27:43+00:00,304553.0,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,male,NaN,aggressive

In [7]:
# Drop the null rows
cc_df = cc_df.dropna()
cc_df.head()

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
7,2006-12-14 01:39:10+00:00,1092823.0,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,male,4.228540,aggressive
8,2006-12-17 19:43:09+00:00,1278023.0,-79.791980,36.072640,Weather Extremes,-0.565028,denier,male,5.478175,aggressive
9,2006-12-21 01:39:01+00:00,1455543.0,-121.805790,38.004920,Weather Extremes,0.650960,neutral,male,-1.652156,not aggressive
11,2006-12-31 10:47:25+00:00,1893063.0,-1.902691,52.479699,Weather Extremes,0.670905,neutral,male,4.864521,aggressive

In [8]:
cc_df.dtypes

created_at          object
id                 float64
lng                float64
lat                float64
topic               object
sentiment          float64
stance              object
gender              object
temperature_avg    float64
aggressiveness      object
dtype: object

In [9]:
cc_df.count()

created_at         312693
id                 312693
lng                312693
lat                312693
topic              312693
sentiment          312693
stance             312693
gender             312693
temperature_avg    312693
aggressiveness     312693
dtype: int64

In [10]:
# Get rid of spaces in names
cc_df.columns = cc_df.columns.str.strip()

In [11]:
# Drop ID column
cc_df = cc_df.drop(["id"], axis=1)

In [12]:
cc_df.head()

,created_at,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,Ideological Positions on Global Warming,-0.544195,neutral,male,4.228540,aggressive
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,Weather Extremes,-0.565028,denier,male,5.478175,aggressive
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,Weather Extremes,0.650960,neutral,male,-1.652156,not aggressive
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,Weather Extremes,0.670905,neutral,male,4.864521,aggressive

In [13]:
# Count and transform topic column
cc_df["topic"].nunique()

10

In [50]:
# One hot encode topic, stance, gender, and aggressiveness to numerical values
encoded_df = pd.get_dummies(cc_df, columns=['topic', 'stance', 'gender', 'aggressiveness'])
encoded_df

,created_at,lng,lat,sentiment,temperature_avg,topic_Donald Trump versus Science,topic_Global stance,topic_Ideological Positions on Global Warming,topic_Impact of Resource Overconsumption,topic_Importance of Human Intervantion,...,topic_Undefined / One Word Hashtags,topic_Weather Extremes,stance_believer,stance_denier,stance_neutral,gender_female,gender_male,gender_undefined,aggressiveness_aggressive,aggressiveness_not aggressive
1,2006-07-23 21:52:30+00:00,-73.949582,40.650104,0.575777,-1.114768,0,0,0,0,0,...,0,1,0,0,1,0,0,1,1,0
7,2006-12-14 01:39:10+00:00,-122.419420,37.774930,-0.544195,4.228540,0,0,1,0,0,...,0,0,0,0,1,0,1,0,1,0
8,2006-12-17 19:43:09+00:00,-79.791980,36.072640,-0.565028,5.478175,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9,2006-12-21 01:39:01+00:00,-121.805790,38.004920,0.650960,-1.652156,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
11,2006-12-31 10:47:25+00:00,-1.902691,52.479699,0.670905,4.864521,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048528,2011-03-29 08:23:23+00:00,144.963320,-37.814000,-0.412735,1.822982,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
1048533,2011-03-29 08:42:01+00:00,110.828448,-7.569246,0.450944,-0.253280,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
1048551,2011-03-29 09:21:17+00:00,121.069917,14.528887,0.538100,-1.243056,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,1
1048558,2011-03-29 09:44:21+00:00,1.155450,52.059170,0.061093,1.056350,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1048573,2011-03-29 10:07:53+00:00,0.006856,51.550641,0.616270,1.703617,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1

In [15]:
# Change latitude and longitude to zip codes
lat_lng_df = cc_df[['lat', 'lng']]
lat_lng_df

               lat         lng
1        40.650104  -73.949582
7        37.774930 -122.419420
8        36.072640  -79.791980
9        38.004920 -121.805790
11       52.479699   -1.902691
...            ...         ...
1048528 -37.814000  144.963320
1048533  -7.569246  110.828448
1048551  14.528887  121.069917
1048558  52.059170    1.155450
1048573  51.550641    0.006856

[312693 rows x 2 columns]

In [51]:
#Importing geopy
from geopy.geocoders import Nominatim
geocoder = Nominatim(user_agent = 'climate_project')

In [52]:
# adding 1 second padding between calls
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1,   return_value_on_exception = None)

In [56]:
lat_lng_list = list(zip(encoded_df['lat'], encoded_df['lng']))
lat_lng_list

[(40.6501038, -73.9495823),
 (37.77493, -122.41942),
 (36.07264, -79.79198),
 (38.00492, -121.80579),
 (52.4796992, -1.9026911),
 (40.6501038, -73.9495823),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (32.7762719, -96.7968559),
 (40.6501038, -73.9495823),
 (36.1126365, -80.0144842),
 (43.43617, 13.61232),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (25.96389, -80.24417),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (43.6534817, -79.3839347),
 (51.50853, -0.12574),
 (52.48142, -1.89983),
 (40.6501038, -73.9495823),
 (51.5073219, -0.1276474),
 (51.48, -3.18),
 (34.09834, -118.32674),
 (36.1622296, -86.7743531),
 (51.0534234, -114.0625892),
 (45.5202471, -122.6741949),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (38.9778882, -77.0074765),
 (45.52345, -122.67621),
 (49.24966, -123.11934),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (34.5003, -111.50098),
 (40.03788, -76.30551),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.0534234, -114.0625892),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (40.7944504, -77.8616386),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (38.02931, -78.47668),
 (38.0360726, -78.49973473),
 (37.7790262, -122.4199061),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (38.96872, -77.3411),
 (51.5073219, -0.1276474),
 (30.28798555, -97.77889812),
 (53.33306, -6.24889),
 (30.26715, -97.74306),
 (51.50853, -0.12574),
 (38.89511, -77.03637),
 (51.5073219, -0.1276474),
 (33.5790874, -84.7686732),
 (37.3361905, -121.890583),
 (51.50853, -0.12574),
 (34.05223, -118.24368),
 (52.22333, 5.17639),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (52.2034823, 0.1235817),
 (45.9340479, -95.4627651),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (37.7790262, -122.4199061),
 (38.0360726, -78.49973473),
 (32.7174202, -117.1627728),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (37.3361905, -121.890583),
 (40.1023326, -75.1521195),
 (40.71427, -74.00597),
 (33.78779, -117.85311),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (46.5218269, 6.6327025),
 (47.6038321, -122.3300624),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (40.7127281, -74.0060152),
 (47.6038321, -122.3300624),
 (37.7790262, -122.4199061),
 (40.04282, -86.12749),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (42.9632405, -85.6678639),
 (40.875891, -81.4023356),
 (40.875891, -81.4023356),
 (45.50884, -73.58781),
 (41.4995, -81.69541),
 (37.80437, -122.2708),
 (38.65374105, -9.208969409),
 (37.5482697, -121.9885719),
 (37.5482697, -121.9885719),
 (38.62727, -90.19789),
 (54.77676, -1.57566),
 (56.03606, 12.6136),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (37.37, -122.04),
 (37.37, -122.04),
 (54.5280386, -1.1697897),
 (51.50853, -0.12574),
 (35.22709, -80.84313),
 (30.26715, -97.74306),
 (28.94888, -81.29867),
 (35.22709, -80.84313),
 (64.4459613, -149.680909),
 (31.22222, 121.45806),
 (35.22709, -80.84313),
 (52.37403, 4.88969),
 (40.76538, -73.81736),
 (42.3750997, -71.1056157),
 (37.3361905, -121.890583),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (39.1014537, -84.5124602),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (40.76538, -73.81736),
 (33.5806, -112.23738),
 (45.5202471, -122.6741949),
 (35.2272086, -80.8430827),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (35.22709, -80.84313),
 (35.2272086, -80.8430827),
 (45.52345, -122.67621),
 (41.85003, -87.65005),
 (30.2711286, -97.7436995),
 (32.7762719, -96.7968559),
 (43.6211955, -84.6824346),
 (38.8950368, -77.0365427),
 (37.77493, -122.41942),
 (59.91273, 10.74609),
 (59.32938, 18.06871),
 (43.11978, -77.80556),
 (37.33939, -121.89496),
 (47.6038321, -122.3300624),
 (40.65294535, -76.34504304),
 (33.6783336, -118.0000166),
 (44.94441, -93.09327),
 (40.76538, -73.81736),
 (36.97412, -122.0308),
 (28.75054, -82.5001),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (30.28798555, -97.77889812),
 (33.5806115, -112.237294),
 (30.28798555, -97.77889812),
 (51.05011, -114.08529),
 (38.89511, -77.03637),
 (47.60621, -122.33207),
 (51.14804, -2.716577),
 (52.839548, -1.5488245),
 (40.7654301, -73.8174291),
 (42.2410562, -83.613055),
 (40.04282, -86.12749),
 (33.53865, -112.18599),
 (37.80437, -122.2708),
 (32.7174202, -117.1627728),
 (47.6038321, -122.3300624),
 (-23.5506507, -46.6333824),
 (51.5073219, -0.1276474),
 (27.94752, -82.45843),
 (61.49911, 23.78712),
 (51.5073219, -0.1276474),
 (64.13548, -21.89541),
 (34.05223, -118.24368),
 (40.6501, -73.94958),
 (46.47805, -84.36672),
 (59.9133301, 10.7389701),
 (45.5202471, -122.6741949),
 (37.38283, -5.97317),
 (51.50853, -0.12574),
 (35.9603948, -83.9210261),
 (45.3246068, -118.0878695),
 (37.77493, -122.41942),
 (37.55376, -77.46026),
 (40.76538, -73.81736),
 (33.5806115, -112.237294),
 (40.6501038, -73.9495823),
 (-35.16528, 147.46639),
 (45.50884, -73.58781),
 (36.09569, -79.4378),
 (37.3361905, -121.890583),
 (38.7077507, -9.1365919),
 (43.65737, -70.2589),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (40.04282, -86.12749),
 (41.4915013, -72.1237666),
 (44.4937577, 11.3430308),
 (51.4, -0.5),
 (40.79895, -81.37845),
 (40.04282, -86.12749),
 (37.77493, -122.41942),
 (38.86956, -77.0922),
 (42.0811563, -87.9802164),
 (35.1490215, -90.0516285),
 (33.5806, -112.23738),
 (44.4761601, -73.212906),
 (47.60621, -122.33207),
 (45.80819, 9.0832),
 (45.9394759, 9.149410145),
 (37.3886303, -5.9953403),
 (45.80819, 9.0832),
 (39.92054, -105.08665),
 (43.03867, -78.8642),
 (41.12003, -87.86115),
 (38.0360726, -78.49973473),
 (32.9481789, -96.7297206),
 (49.1913033, -122.8491439),
 (47.60621, -122.33207),
 (38.8950368, -77.0365427),
 (38.8950368, -77.0365427),
 (18.521428, 73.8544541),
 (52.22333, 5.17639),
 (51.45422, -0.09828),
 (52.77917, 6.90694),
 (42.28759, -73.32039),
 (37.56299, -122.32553),
 (37.3361905, -121.890583),
 (18.7882778, 98.9868056),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (41.66113, -91.53017),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (32.8795, -111.75735),
 (43.6135, -116.20345),
 (51.5073219, -0.1276474),
 (30.2711286, -97.7436995),
 (41.36616, -81.8543),
 (50.66648, -120.3192),
 (18.79038, 98.98468),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (18.7882778, 98.9868056),
 (25.28545, 51.53096),
 (51.5073219, -0.1276474),
 (38.8950368, -77.0365427),
 (32.8795022, -111.7573521),
 (51.3471927, -2.9778916),
 (51.50853, -0.12574),
 (30.26715, -97.74306),
 (47.60621, -122.33207),
 (52.3727598, 4.8936041),
 (51.456659, -0.9696512),
 (51.85245, 13.70735),
 (51.45422, -0.09828),
 (37.7857054, -122.48623),
 (39.07705, -76.82747),
 (51.50853, -0.12574),
 (38.96872, -77.3411),
 (30.28798555, -97.77889812),
 (38.8950368, -77.0365427),
 (51.50853, -0.12574),
 (26.12231, -80.14338),
 (49.2608724, -123.1139529),
 (49.2608724, -123.1139529),
 (39.5261206, -119.8126581),
 (55.95206, -3.19648),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (37.7884969, -122.3558473),
 (34.68743, -116.78467),
 (33.5775567, -112.1184914),
 (48.85341, 2.3488),
 (51.5073219, -0.1276474),
 (37.7790262, -122.4199061),
 (41.2230048, -111.9738429),
 (48.8648604, 2.3774882),
 (41.8755616, -87.6244212),
 (32.2990384, -90.1847691),
 (-37.814, 144.96332),
 (51.50853, -0.12574),
 (52.5170365, 13.3888599),
 (34.0536909, -118.242766),
 (51.5073219, -0.1276474),
 (51.75222, -1.25596),
 (43.65737, -70.2589),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (45.52345, -122.67621),
 (59.3251172, 18.0710935),
 (40.7364228, -73.86518881),
 (51.50853, -0.12574),
 (38.6529545, -90.24111656),
 (50.85162, -1.17929),
 (49.24966, -123.11934),
 (33.6603, -117.99923),
 (51.0534234, -114.0625892),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (39.004607, -76.8756838),
 (37.6090291, -121.899142),
 (51.5073219, -0.1276474),
 (42.3602534, -71.0582912),
 (51.50853, -0.12574),
 (39.07705, -76.82747),
 (51.5073219, -0.1276474),
 (42.2681569, -83.7312291),
 (10.18634, -67.45935),
 (50.8556349, -1.595797009),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (52.9534193, -1.1496461),
 (51.5073219, -0.1276474),
 (51.23667, 0.72393),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (38.6529545, -90.24111656),
 (38.6529545, -90.24111656),
 (38.02931, -78.47668),
 (51.50853, -0.12574),
 (38.62727, -90.19789),
 (51.50853, -0.12574),
 (25.2856329, 51.5264162),
 (35.7730076, -86.2820081),
 (40.04282, -86.12749),
 (51.50853, -0.12574),
 (32.89651945, -97.04652205),
 (40.4663446, -111.4699092),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (40.7364228, -73.86518881),
 (25.28545, 51.53096),
 (48.8566969, 2.3514616),
 (51.8784385, -0.4152837),
 (59.91273, 10.74609),
 (48.8566969, 2.3514616),
 (48.8566969, 2.3514616),
 (53.55073, 9.99302),
 (52.09083, 5.12222),
 (44.9504037, -93.1015026),
 (37.7790262, -122.4199061),
 (44.94441, -93.09327),
 (30.26715, -97.74306),
 (53.9590555, -1.0815361),
 (40.7364228, -73.86518881),
 (40.7364228, -73.86518881),
 (40.7364228, -73.86518881),
 (5.34778, -71.20194),
 (34.05223, -118.24368),
 (32.22174, -110.92648),
 (32.8795022, -111.7573521),
 (-37.8142176, 144.9631608),
 (51.50853, -0.12574),
 (40.9491723, -74.2376802),
 (51.5073219, -0.1276474),
 (42.88645, -78.87837),
 (33.7489924, -84.3902644),
 (38.9583737, -77.3579805),
 (-37.6859006, 176.167505),
 (38.6529545, -90.24111656),
 (40.4167047, -3.7035825),
 (38.62727, -90.19789),
 (-27.4689682, 153.0234991),
 (38.8950368, -77.0365427),
 (35.6729639, -79.0392919),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (35.6144446, -88.8177418),
 (51.5073219, -0.1276474),
 (38.8950368, -77.0365427),
 (51.2474823, 0.7105077),
 (38.8950368, -77.0365427),
 (37.77493, -122.41942),
 (-33.86785, 151.20732),
 (41.85003, -87.65005),
 (38.7251776, -105.607716),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (34.16834, -118.60592),
 (41.85003, -87.65005),
 (40.0149856, -105.2705456),
 (47.5581077, 7.5878261),
 (44.43225, 26.10626),
 (57.70716, 11.96679),
 (57.70716, 11.96679),
 (30.2711286, -97.7436995),
 (40.7127281, -74.0060152),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (-37.8142176, 144.9631608),
 (45.4668, 9.1905),
 (38.29714, -122.28553),
 (37.77493, -122.41942),
 (19.07283, 72.88261),
 (38.8950368, -77.0365427),
 (47.6038321, -122.3300624),
 (42.81397, -72.02314),
 (36.54843, -82.56182),
 (51.50853, -0.12574),
 (51.3813864, -2.3596963),
 (42.5584284, -70.8800491),
 (51.6321046, -0.5697912),
 (33.6603, -117.99923),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (45.4668, 9.1905),
 (55.9533456, -3.1883749),
 (34.0536909, -118.242766),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (55.6052931, 13.0001566),
 (36.29885175, -82.35919331),
 (51.5073219, -0.1276474),
 (47.68149, -122.20874),
 (40.01499, -105.27055),
 (-6.21462, 106.84513),
 (52.5170365, 13.3888599),
 (38.6529545, -90.24111656),
 (36.16589, -86.78444),
 (47.60621, -122.33207),
 (42.72841, -73.69179),
 (51.5073219, -0.1276474),
 (40.6501038, -73.9495823),
 (50.86583, 6.0625),
 (-37.814, 144.96332),
 (38.8950368, -77.0365427),
 (30.2711286, -97.7436995),
 (52.09083, 5.12222),
 (37.8044557, -122.2713563),
 (53.9590555, -1.0815361),
 (45.6306954, -122.6744557),
 (40.71427, -74.00597),
 (53.550341, 10.000654),
 (42.813973, -72.023136),
 (48.8566969, 2.3514616),
 (51.5073219, -0.1276474),
 (27.7703796, -82.6695085),
 (37.33939, -121.89496),
 (38.62727, -90.19789),
 (44.94441, -93.09327),
 (43.65737, -70.2589),
 (35.6480855, -106.3375267),
 (47.6038321, -122.3300624),
 (45.1047263, 7.695728),
 (42.04059, -87.78256),
 (36.41079, -105.29057),
 (31.2322758, 121.4692071),
 (39.9622601, -83.0007065),
 (-33.9205, 151.25522),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (25.2856329, 51.5264162),
 (51.50853, -0.12574),
 (30.69436, -88.04305),
 (41.22232, -73.0565),
 (-31.9527121, 115.8604796),
 (-37.8142176, 144.9631608),
 (-37.8142176, 144.9631608),
 (-31.9527121, 115.8604796),
 (38.89511, -77.03637),
 (51.45625, -0.97113),
 (30.28798555, -97.77889812),
 (37.3361905, -121.890583),
 (37.33939, -121.89496),
 (47.60621, -122.33207),
 (37.77493, -122.41942),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (38.5110803, -122.8473388),
 (37.33939, -121.89496),
 (-37.814, 144.96332),
 (41.55815, -73.0515),
 (38.62727, -90.19789),
 (52.131802, -106.660767),
 (45.421106, -75.690308),
 (37.31494, -79.52422),
 (41.85003, -87.65005),
 (43.0702223, -70.7548621),
 (51.5073219, -0.1276474),
 (64.145981, -21.9422367),
 (5.3428475, -72.3959849),
 (40.71427, -74.00597),
 (51.06513, -1.3187),
 (45.5202471, -122.6741949),
 (55.6867243, 12.5700724),
 (26.62168, -81.84059),
 (33.41477, -111.90931),
 (30.5951051, 114.2999353),
 (40.9864261, -75.1946649),
 (40.99954, -75.18129),
 (51.50853, -0.12574),
 (30.2711286, -97.7436995),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (34.05223, -118.24368),
 (40.71427, -74.00597),
 (35.6869996, -105.9377997),
 (39.5261206, -119.8126581),
 (38.86956, -77.0922),
 (34.26945, -118.78148),
 (53.55014, -113.46871),
 (38.62727, -90.19789),
 (51.4, -0.5),
 (51.5073219, -0.1276474),
 (33.4484367, -112.0741417),
 (51.5073219, -0.1276474),
 (40.76078, -111.89105),
 (32.94818, -96.72972),
 (37.80437, -122.2708),
 (34.0536909, -118.242766),
 (43.6044622, 1.4442469),
 (38.54491, -121.74052),
 (40.6501, -73.94958),
 (38.54491, -121.74052),
 (38.54491, -121.74052),
 (38.545379, -121.7445835),
 (38.6529545, -90.24111656),
 (46.65941, -94.11387),
 (38.2971367, -122.2855293),
 (52.3727598, 4.8936041),
 (51.5073219, -0.1276474),
 (40.8, -96.66696),
 (51.50853, -0.12574),
 (30.2711286, -97.7436995),
 (42.96336, -85.66809),
 (40.79895, -81.37845),
 (42.88645, -78.87837),
 (51.39024, 0.40244),
 (51.5073219, -0.1276474),
 (53.4794892, -2.2451148),
 (32.71571, -117.16472),
 (33.61891, -117.92895),
 (41.5051613, -81.6934446),
 (36.7014631, -118.755997),
 (53.407154, -2.991665),
 (44.47588, -73.21207),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (-36.3160135, 174.7899404),
 (53.45, -2.23333),
 (50.45008, -104.6178),
 (35.9603948, -83.9210261),
 (35.9603948, -83.9210261),
 (48.7784485, 9.1800132),
 (51.5073219, -0.1276474),
 (18.572662, -72.3297462),
 (40.8, -96.66696),
 (45.5202471, -122.6741949),
 (38.6529545, -90.24111656),
 (51.1858, -0.61489),
 (35.25, 136.71667),
 (51.50853, -0.12574),
 (41.4995, -81.69541),
 (41.8755616, -87.6244212),
 (35.6729639, -79.0392919),
 (44.02471, -88.54261),
 (53.45, -2.23333),
 (44.0206919, -88.5408574),
 (49.1977086, -123.1912406),
 (50.44876, -104.61731),
 (35.9603948, -83.9210261),
 (33.0151201, -96.5388789),
 (33.0151201, -96.5388789),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (35.65127, -78.83362),
 (47.60621, -122.33207),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (43.157285, -77.615214),
 (35.25, 136.71667),
 (35.25, 136.71667),
 (41.3381782, -72.02979131),
 (35.25, 136.71667),
 (34.05223, -118.24368),
 (51.5073219, -0.1276474),
 (34.4861295, -94.37827893),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (52.24764975, 5.541246849),
 (38.8339578, -104.8253485),
 (-27.4689682, 153.0234991),
 (37.98869, -84.47772),
 (42.35843, -71.05977),
 (40.7992662, -74.8137769),
 (51.5073219, -0.1276474),
 (40.7684342, -74.1454214),
 (35.25, 136.71667),
 (35.25, 136.71667),
 (43.6534817, -79.3839347),
 (30.2711286, -97.7436995),
 (40.7992662, -74.8137769),
 (51.5073219, -0.1276474),
 (41.5051613, -81.6934446),
 (51.50853, -0.12574),
 (30.17659, -85.80549),
 (52.52437, 13.41053),
 (36.17497, -115.13722),
 (51.5073219, -0.1276474),
 (43.6534817, -79.3839347),
 (40.85725, -74.99702),
 (41.4995, -81.69541),
 (40.6501, -73.94958),
 (35.25, 136.71667),
 (40.04282, -86.12749),
 (35.2258965, 136.8024705),
 (35.2258965, 136.8024705),
 (40.7684342, -74.1454214),
 (51.50853, -0.12574),
 (47.60621, -122.33207),
 (51.23667, 0.72393),
 (40.6501038, -73.9495823),
 (48.8566969, 2.3514616),
 (19.42847, -99.12766),
 (39.95233, -75.16379),
 (48.85341, 2.3488),
 (38.6529545, -90.24111656),
 (51.5073219, -0.1276474),
 (40.0149856, -105.2705456),
 (40.6501, -73.94958),
 (35.96064, -83.92074),
 (-33.86785, 151.20732),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (59.3447911, 18.0347599),
 (34.0194704, -118.4912273),
 (25.2856329, 51.5264162),
 (37.77493, -122.41942),
 (34.4458248, -119.0779359),
 (53.4794892, -2.2451148),
 (38.8983395, -77.0286189),
 (37.2638324, -122.0230146),
 (40.4167047, -3.7035825),
 (42.51954, -70.89672),
 (39.86804, -104.97192),
 (38.89511, -77.03637),
 (48.3059078, 14.286198),
 (33.7500378, -117.8704931),
 (37.88576, -122.11802),
 (40.71427, -74.00597),
 (52.0799838, 4.3113461),
 (38.62727, -90.19789),
 (39.97837, -86.11804),
 (34.0536909, -118.242766),
 (32.7174202, -117.1627728),
 (42.3751, -71.10561),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (49.45421, 11.07752),
 (11.00555, 76.96612),
 (51.50853, -0.12574),
 (36.11264, -80.01448),
 (36.11264, -80.01448),
 (32.71571, -117.16472),
 (-37.814, 144.96332),
 (47.57379, -90.83626),
 (38.62727, -90.19789),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (42.2681569, -83.7312291),
 (40.7896239, -73.9598939),
 (47.61038, -122.20068),
 (-37.814, 144.96332),
 (40.6501038, -73.9495823),
 (43.157285, -77.615214),
 (51.5, 10.5),
 (38.6529545, -90.24111656),
 (38.8950368, -77.0365427),
 (25.28545, 51.53096),
 (25.28545, 51.53096),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (40.4167047, -3.7035825),
 (48.8566969, 2.3514616),
 (51.50853, -0.12574),
 (38.8097767, -91.1499583),
 (18.38078, -65.95739),
 (36.15398, -95.99277),
 (40.6751032, -74.0095841),
 (39.9162861, -86.05267778),
 (30.26715, -97.74306),
 (47.60621, -122.33207),
 (38.89511, -77.03637),
 (35.96064, -83.92074),
 (51.5073219, -0.1276474),
 (51.6321046, -0.5697912),
 (33.5676, -112.1046),
 (18.38078, -65.95739),
 (49.1977086, -123.1912406),
 (51.5073219, -0.1276474),
 (40.4165, -3.70256),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (-33.86785, 151.20732),
 (50.08804, 14.42076),
 (38.8950368, -77.0365427),
 (42.83536, -71.64896),
 (51.5073219, -0.1276474),
 (47.6038321, -122.3300624),
 (40.25034, -83.00018),
 (-20.0, 145.0),
 (51.4538022, -2.5972985),
 (34.42083, -119.69819),
 (37.7790262, -122.4199061),
 (30.28798555, -97.77889812),
 (51.50853, -0.12574),
 (51.50853, -0.12574),
 (-22.1646782, 144.5844903),
 (42.4523178, -71.1369982),
 (29.42412, -98.49363),
 (38.89511, -77.03637),
 (40.7127281, -74.0060152),
 (45.26678, -72.14909),
 (37.77493, -122.41942),
 (35.2258965, 136.8024705),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (-35.28346, 149.12807),
 (38.8950368, -77.0365427),
 (51.5073219, -0.1276474),
 (48.8566969, 2.3514616),
 (44.9772995, -93.2654692),
 (-6.21462, 106.84513),
 (38.8950368, -77.0365427),
 (40.7127281, -74.0060152),
 (32.2228765, -110.9748477),
 (40.85149705, -73.09942581),
 (51.5073219, -0.1276474),
 (51.5073219, -0.1276474),
 (47.60621, -122.33207),
 (37.7790262, -122.4199061),
 (39.74275905, -104.9909882),
 (43.6534817, -79.3839347),
 (1.4293334, 103.8363723),
 (40.6501, -73.94958),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (51.50853, -0.12574),
 (51.5073219, -0.1276474),
 (37.8044557, -122.2713563),
 (25.28545, 51.53096),
 (38.6529545, -90.24111656),

In [ ]:
# returns geopy Location object
reverse = RateLimiter(geocoder.reverse, min_delay_seconds=1)
#location = reverse(lat_lng_list)

locations = []

for i in lat_lng_list:
    location = reverse(lat_lng_list[0])
    locations.append(location)
    
print(locations)

### Prepare Data for Machine Learning Models

In [ ]:
# Create features
# Create our features

In [ ]:
# Create our target
y = cc_df['temperature_avg']

In [ ]:
# Check the dataframes
X.head()

In [ ]:
X.describe()

In [ ]:
y.describe()

In [ ]:
# Check the balance of our target values
y.value_counts()

In [ ]:
# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
Counter(y_test)

### Test Different Models and Compare Confusion Matrices to Find Best Model

#### Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a random forest classifier.
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
# Display the confusion matrix
y_pred = rf_model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

#### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 

#Instantiate the model
eec = EasyEnsembleClassifier(random_state=1, n_estimators=100)

# Fit the model
eec.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
# Making predictions using the testing data.
predictions = eec.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Display the confusion matrix
y_pred = eec.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))