## Outline of Machine Learning Model

In [1]:
# Import all dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import sqlalchemy
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier

### Import the Data as a Dataframe and Perform Data Preprocessing

In [ ]:
# Create the connection to postgres
# engine = create_engine('postgresql://username:password@host:port/database')

# Load the table as a dataframe
# engine = pg.connect("dbname='my_db_name' user='pguser' host='127.0.0.1' port='15432' password='pgpassword'")
# df = pd.read_sql('select * from climate_change_twitter', con=engine)

In [4]:
# Perform preliminary exploration and data cleaning

# Drop null values
# Use onehotencoding or get dummies to create continuous data from categorical columns

cc_df = pd.read_csv("../climate_change_twitter.csv")
cc_df.head(5)

,created_at,id,lng,lat,topic,sentiment,stance,gender,temperature_avg,aggressiveness
0,2006-06-06 16:06:42+00:00,6132.0,NaN,NaN,Weather Extremes,-0.097180,neutral,female,NaN,aggressive
1,2006-07-23 21:52:30+00:00,13275.0,-73.949582,40.650104,Weather Extremes,0.575777,neutral,undefined,-1.114768,aggressive
2,2006-08-29 01:52:30+00:00,23160.0,NaN,NaN,Weather Extremes,0.500479,neutral,male,NaN,aggressive
3,2006-11-07 02:46:52+00:00,57868.0,NaN,NaN,Weather Extremes,0.032816,neutral,male,NaN,aggressive
4,2006-11-27 14:27:43+00:00,304553.0,NaN,NaN,Importance of Human Intervantion,-0.090428,neutral,male,NaN,aggressive

In [ ]:
# Drop the null rows
cc_df = cc_df.dropna()
cc_df.head()

In [ ]:
cc_df.dtypes

In [ ]:
cc_df.count()

In [ ]:
# Get rid of spaces in names
cc_df.columns = cc_df.columns.str.strip()

In [ ]:
# Drop ID column
cc_df = cc_df.drop(["id"], axis=1)

In [ ]:
cc_df.head()

In [ ]:
# Count and transform topic column
cc_df["topic"].nunique()

In [ ]:
# One hot encode topic, stance, gender, and aggressiveness to numerical values
encoded_df = pd.get_dummies(cc_df, columns=['topic', 'stance', 'gender', 'aggressiveness'])
encoded_df

In [ ]:
# Change latitude and longitude to zip codes
lat_lng_df = cc_df[['lat', 'lng']]
lat_lng_df

In [ ]:
# Convert created_at to datetime format

### Prepare Data for Machine Learning Models

In [ ]:
# Create features
# Create our features
# X = pd.get_dummies(cc_df, columns=['created_at', 'id', 'lng', 'lat', 
                'topic', 'sentiment', 'stance', 'gender', 
                'aggressiveness'], sparse=True).drop('temperature_avg', axis=1)

In [ ]:
# Create our target
y = cc_df['temperature_avg']

In [ ]:
# Check the dataframes
X.head()

In [ ]:
X.describe()

In [ ]:
y.describe()

In [ ]:
# Check the balance of our target values
y.value_counts()

In [ ]:
# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
Counter(y_test)

### Test Different Models and Compare Confusion Matrices to Find Best Model

#### Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a random forest classifier.
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)

# Fit the model
rf_model = rf_model.fit(X_train, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

In [ ]:
# Display the confusion matrix
y_pred = rf_model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

#### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 

#Instantiate the model
eec = EasyEnsembleClassifier(random_state=1, n_estimators=100)

# Fit the model
eec.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
# Making predictions using the testing data.
predictions = eec.predict(X_test)

# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

In [ ]:
# Display the confusion matrix
y_pred = eec.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))